@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

.text-small { font-size: 12px }
.mla { margin-left: auto; }
* { box-sizing: border-box }
.italic { font-style: italic; }

form {
  margin: 0;
  padding: 0;
}

body {
  max-width: 650px;
  margin: 0 auto;
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 0 20px;
  background: #F8F5E9;
  color: #38546b;
}

pre code {
  padding: 20px;
  width: 100%;
  display: block;
  overflow-y: auto;
  white-space: pre;
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid #f3ebcf;
  font-family: Monaco, Menlo, monospace;
  color: #38546b;
  background: #f8f5e9;
}

.header {
  display: block;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.footer {
  padding: 10px 0;
  margin-top: 100px;
  align-items: center;
  display: flex;
  border-top: 1px solid #f3ebcf;
}

.footer svg {
  width: 22px;
  height: auto;
}

.topic {
  display: flex;
  margin: 10px 0;
  padding: 20px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid transparent;
  align-items: center;
  color: #38546b;
}

.topic:hover {
  background: #f5eccb;
  border-color: #f3ebcf;
}

.topic:last-child {
  margin-bottom: 0;
}

.topic-stats {
  margin-left: auto;
  display: flex;
}

.topic-stats > section {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.topic-stats svg {
  width: 14px;
  margin-left: 5px;
}

.new-topic-wrapper {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.new-topic-wrapper > a {
  display: block;
  padding: 20px;
  width: 100%;
  text-decoration: none;
  opacity: .75;
  color: #38546b;
  border-radius: 4px;
  border: 1px solid transparent;
}

.new-topic-wrapper > a:hover {
  opacity: 1;
  background-color: #f5eccb;
  border-color: #f3ebcf;
}

.topic-divider {
  height: 1px;
  width: 100%;
  display: block;
  background: #f3ebcf;
}

.logo > svg {
  width: 36px;
  height: auto;
}

.logo {
  display: inline-flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
}

.logo:hover {
  background: #f5eccb;
}

.topic-title {
  text-align: center;
  color: #38546b;
  font-style: italic;
}

.topic-title h2 {
  padding-bottom: 20px;
  font-style: italic;
}

.message {
  background: #fff;
  border-radius: 4px;
  padding: 30px;
  border: 1px solid #f3ebcf;
  box-shadow: 0px 0px 2px rgb(255 193 7 / 5%);
  margin: 18px 0;
  position: relative;
}

.message p {
  line-height: 1.5rem;
}

.message p:first-child,
.message h1:first-child,
.message h2:first-child,
.message h3:first-child,
.message h4:first-child {
  margin-top: 0;
}

.message img {
  max-width: 100%;
}

.new-message-wrapper label {
  display: inline-block;
  font-style: italic;
}

.new-message-footer {
  display: flex;
  margin-top: 8px;
}

button.button-primary {
  background: #0b83ff;
  padding: 8px 32px;
  border-radius: 4px;
  font-size: 16px;
  transition: 200ms ease color, 200ms ease background;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0,0,0,0.15);
  font-family: 'Lato';
  border: 1px solid #0a72dd;
}

button.button-primary:hover {
  background: #167ce4;
}

.new-message-footer button {
  margin-left: auto;
}

.message-editor {
  width: 100%;
  border: 1px solid #f3ebcf;
  border-radius: 4px;
  min-height: 150px;
  resize: vertical;
  padding: 20px 10px 10px 28px;
  margin-bottom: 0 0 10px 0;
  font-size: 16px;
  background: #fff;
  color: #000;
  font-family: "Lato";
}

.message-footer {
  font-size: 12px;
  margin-top: 10px;
  display: block;
  color: #38546b;
  font-style: italic;
}

.user-logo {
  background: #000000;
  color: white;
  border-radius: 100%;
  margin-right: 5px;
  height: 32px;
  width: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0,0,0,0.15);
  flex-shrink: 0;
  font-style: italic;
}

.topic .user-logo {
  margin-right: 10px;
}

.message .user-logo {
  height: 36px;
  width: 36px;
  font-size: 15px;
  position: absolute;
  top: 15px;
  left: -18px;
}

.new-message-wrapper .user-logo {
  position: absolute;
  top: 18px;
  left: -18px;
  height: 36px;
  width: 36px;
  font-size: 15px;
}

.message > img {
  margin: 20px 0;
  display: block;
}

.user-logo.theme-1  { background: #000000; }
.user-logo.theme-2  { background: #607D8B; }
.user-logo.theme-3  { background: #263dc1; }
.user-logo.theme-4  { background: #673ab7; }
.user-logo.theme-5  { background: #e61d0e; }
.user-logo.theme-6  { background: #FF9800; }
.user-logo.theme-7  { background: #4CAF50; }

.signup-form {
  border: 1px solid #f3ebcf;
  padding: 20px;
  margin: 50px auto;
  border-radius: 4px;
  max-width: 350px;
  background: #fff;
}

.signup-form > section {
  display: flex;
  width: 100%;
  margin: 0 auto 20px auto;
  color: #38546b;
  align-items: center;
}

.signup-form-header {
  text-align: center;
  display: block;
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 18px;
  margin: 0 auto 20px auto;
  border-bottom: 1px solid #eee;
  max-width: 300px;
  padding-bottom: 20px;
}

.signup-form-label {
  flex: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.signup-form-color-section {
  justify-content: center;
  border-bottom: 1px solid #f3ebcf;
  padding-bottom: 20px;
}

.signup-form input[type="text"] {
  border: 1px solid #f3ebcf;
  font-size: 18px;
  padding: 5px;
  border-radius: 4px;
  width: 40px;
  text-align: center;
  margin: 5px auto 0 auto;
  border-bottom-width: 2px;
}

.signup-form input[type="text"]::placeholder {
  color: #f3ebcf;
}

.signup-form button {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + span {
  height: 33px;
  width: 33px;
  display: inline-block;
  border-radius: 100%;
  margin: 0 2px;
  position: relative;
}

input[type="radio"]:checked + span {
  border-width: 0;
}

input[type="radio"]:checked + span:after {
  content: '+';
  transform: rotate(45deg);
  position: absolute;
  color: white;
  font-size: 32px;
  top: 16px;
  left: 8px;
  font-weight: bold;
  line-height: 0;
  text-shadow: 1px 1px rgba(0,0,0,.15);
}

label.red > span    { background: #e61d0e; }
label.gray > span   { background: #607D8B; }
label.blue > span   { background: #263dc1; }
label.black > span  { background: #000000; }
label.green > span  { background: #4CAF50; }
label.orange > span { background: #FF9800; }
label.purple > span { background: #673ab7; }

.link-button {
  border: 0;
  background: none;
  color: inherit;
}

.theme-controller {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  margin-left: auto;
  justify-content: center;
  border-radius: 100%;
}

.theme-controller svg {
  width: 18px;
  height: 18px;
}

.simple-link {
  padding: 5px;
  border-radius: 4px;
  display: inline-flex;
  font-weight: bold;
  align-items: center;
  text-decoration: none;
  transition: 200ms ease background, 200ms ease color;
}

.simple-link:hover {
  background: #f5eccb;
}

@media (prefers-color-scheme: dark) {
  body.support-dark-mode {
    background: #24292d;
  }

  body.support-dark-mode,
  body.support-dark-mode .topic,
  body.support-dark-mode .message-footer,
  body.support-dark-mode .new-topic-wrapper > a,
  body.support-dark-mode .message-editor,
  body.support-dark-mode .new-topic-title,
  body.support-dark-mode .message > p > a,
  body.support-dark-mode .logo,
  body.support-dark-mode .simple-link:hover,
  body.support-dark-mode .flash,
  body.support-dark-mode .signup-form-label,
  body.support-dark-mode .topic-title,
  body.support-dark-mode .message-link {
    color: #ffffff;
  }

  body.support-dark-mode .topic:hover,
  body.support-dark-mode .message,
  body.support-dark-mode .topic-divider,
  body.support-dark-mode .new-topic-wrapper > a:hover,
  body.support-dark-mode .message-editor,
  body.support-dark-mode .simple-link:hover,
  body.support-dark-mode .logo:hover,
  body.support-dark-mode .divider,
  body.support-dark-mode .signup-form,
  body.support-dark-mode .new-topic-title,
  body.support-dark-mode .flash {
    background: #1d2026;
  }

  body.support-dark-mode .topic:hover,
  body.support-dark-mode .message,
  body.support-dark-mode .topic-divider,
  body.support-dark-mode .new-topic-wrapper > a:hover,
  body.support-dark-mode .message-editor,
  body.support-dark-mode .message:not(:first-child):before,
  body.support-dark-mode .new-topic-title,
  body.support-dark-mode .topic-title h2,
  body.support-dark-mode .footer,
  body.support-dark-mode pre code,
  body.support-dark-mode .signup-form,
  body.support-dark-mode .signup-form-header,
  body.support-dark-mode .signup-form-color-section {
    border-color: #141418;
  }

  body.support-dark-mode pre code,
  body.support-dark-mode p > code {
    background: #2b2e38;
    color: #9cc8f5;
  }

  body.support-dark-mode .message-link {
    border-color: #fff;
  }
}

.new-message-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.new-topic-title {
  width: 100%;
  background: #fff;
  border: 1px solid #f3ebcf;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.flash {
  padding: 20px;
  border: 1px solid #FFC107;
  color: #38546b;
  background: #f3ebcf;
  margin: 20px 0;
  border-left-color: #FFC107;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.flash > svg {
  color: #FFC107;
  margin-right: 10px;
}

.signup-form > section {
  flex-wrap: wrap;
}

.header-title {
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
}

.topic-messages {
  padding-left: 18px;
}

.new-message-form {
  padding-left: 18px;
  margin: 60px 0 40px 0;
}

.new-message-wrapper {
  position: relative;
}

.message-link {
  color: #38546b;
  text-decoration: none;
  border-bottom: 1px dotted #38546b;
  opacity: .6;
}

.markdown-label {
  opacity: 0;
  transition: 400ms ease opacity;
}

.message-editor:focus {
  outline: none;
  border-color: #efdea2;
  box-shadow: 0px 0px 2px #FFC107;
}

.message-editor:focus + .new-message-footer .markdown-label {
  opacity: 1;
}

.new-topic-form label {
  margin-bottom: 8px;
  display: inline-block;
}

p > code {
  background: #f8f5e9;
  color: #fb695e;
  padding: 2px 4px;
  border-radius: 4px;
}

@media only screen and (max-width: 500px) {
  body { padding: 0 10px; }
  .signup-form > section { flex-wrap: wrap; }
  .signup-form > section > label { flex: 100%; }
  .new-topic-wrapper > a { text-decoration: underline; }

  .header {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  
  button.button-primary {
    width: 100%;
  }

  .markdown-label {
    display: none;
  }
}
