{{define "error"}}
  <html>
    {{template "head"}}

    <body class="support-dark-mode">
      {{template "header"}}

      <h2 class="topic-title">Uh oh. Something went wrong.</h2>

      <section style="text-align:center;margin:100px auto;">
        <p>You can try returning to the <a href="/">homepage</a>.
      </section>

      {{template "footer"}}
    </body>
  </html>
{{end}}


